/*MOBILE VERSION*/
@media(max-width:768px){
    header{
        background-color: teal;
        padding:20px;
    }
    header>nav{
        text-align: center;
    }
    header>nav>ul{
        float: none;
    }
    header>nav>ul>li{
        display: block;
    }
    .banner1{
        background-color: skyblue;
    }
    .banner2{
        background-image: url(../images/mobile.jpg);
    }
    .banner3{
        background: linear-gradient(red ,black);
    }
    .banner4{
        background: repeating-linear-gradient(45deg,rgba(106, 0, 255, 0.947),rgba(187, 255, 0, 0.5) 50%);    
    }
    .banner5{
        background:url(../images/mobile.jpg)no-repeat left,url(../images/tablet.jpg)no-repeat right;
        background-size: contain; /*contain and 100% both are same*/ 
    }
    .banner6{
        background:linear-gradient(rgba(128, 0, 0, 0.6),rgba(128, 0, 90, 0.6)),url(../images/image.jpg)no-repeat center;
        background-size: 100%;
    }
}
/*TABLET VERSION*/
@media(min-width:769px) and (max-width:1200px){
    header{
        background-color:skyblue; 
        padding: 20px; 
    }
    header>nav{
        text-align: center;
    }
    header>nav>ul{
        float:none;
    }
    .banner1{
        background-color: gray;
    }
    .banner2{
        background-image: url(../images/tablet.jpg);
    }
    .banner3{
        background: linear-gradient(blue,purple);
    }
    .banner4{
        background: repeating-linear-gradient(45deg,rgba(255, 0, 0, 0.947),rgb(0, 0, 255,0.5) 50%);    
    }
    .banner5{
        background:url(../images/tablet.jpg)no-repeat left,url(../images/mobile.jpg)no-repeat right;
        background-size: contain; /*contain and 100% both are same*/ 
    }
    .banner6{
        background:linear-gradient(rgba(128, 0, 0, 0.6),rgba(0, 87, 128, 0.6)),url(../images/tablet.jpg)no-repeat center;
        background-size: 100%;
    }
}